<section class="banner" role="banner">
  <div id="banner" class="container">
    <div class="col-md-5 col-sm-12"> <img class="banner-img img-responsive" <%= link_to "app/assets/images/app-screen.png" %> </div>
    <div class="col-md-7 col-sm-12">
      <div class="banner-text">
        <h1>MISION</h1>
        
        <p>Con el objetivo de contrarrestar las dificultades que se les puedan presentar a los ciudadanos a la hora de denunciar algún delito de feminicidio, ponemos a su disposicion DenunciApp’.

		Inicialmente, la herramienta estará habilitada para la recepción de reportes por feminicidio

		Se espera que con esta aplicacion tenga la mayor cantidad de usuarios, para crear la red mas grande de colombia contra el feminicio en la localidad de chapinero.

        </p>
        <div class="banner-btn"> <%= link_to "app/assets/images/apple-store-btn.png" %> 
        <%= link_to "app/assets/images/google-store-btn.png" %></div>
      </div>
    </div>
  </div>
</section>


