<div class ="fondo">
  <div class="seccion1"></div>
  <div class="seccion2">
     <div class="titulo_inicio"></div>
     <div class="texto_inicio">
       <p> <h2>¡Estamos esperàndote!,</h2>Haz parte de la red mas grande de colombianos contra el feminicidio, aqui todos somos heroes. <br> <br> Descarga la app ahora:</p>
     </div>
     <div class="botones_inicio">
     </div>
  </div>
</div>