<section class="banner" role="banner">
  <div id="banner" class="container">
    <div class="col-md-5 col-sm-30"> 
      <%= image_tag("app-screen.png")%> 
    </div>
      <div class="col-md-7 col-sm-30" img class="banner-img img-responsive">
      <div class="banner-text">
        <h1>DenunciApp</h1>
        <p>Haz parte del movimiento virtual mas grande de colombia contra el feminiciio. 
          <br><br> Descarga la aplicacion, registrate y sè un heroe.
        </p>
          <div>
          <%= image_tag ("apple-store-btn.png")%> 
          <%= image_tag("google-store-btn.png")%>
          </div>
        </div>
    </div>
  </div>
</section>


