<section class="banner" role="banner">
  <div id="banner" class="container">
    <div class="col-md-5 col-sm-12"> <img class="banner-img img-responsive" <%= link_to "app/assets/images/app-screen.png" %> </div>
    <div class="col-md-7 col-sm-12">
      <div class="banner-text">
        <h1>DenunciApp</h1>
        
        <p>Con el objetivo de contrarrestar las dificultades que se les puedan presentar a los ciudadanos a la hora de denunciar algún delito, la Fiscalía General de la Nación y la Policía Nacional ponen en marcha el Sistema Nacional de Denuncia Virtual ‘ADenunciar’.

		Inicialmente, la herramienta estará habilitada para la recepción de reportes por seis de los delitos que más afectan la seguridad ciudadana y que no requieren valoración médico – legal: hurto a personas, hurto a comercio, hurto a residencias, material con contenido de explotación sexual infantil, delitos informáticos y extorsión.

		Estas conductas fueron seleccionadas porque son algunas de las más denunciadas en todo el país. En 2017 han sido instauradas 692.395 denuncias, de las cuales 182.989 corresponden al delito de hurto, lo que equivale al 26%, algo  más de la cuarta parte de las denuncias recibidas.

		Al acto de lanzamiento de ‘ADenunciar’, que tuvo lugar en la Sala Estratégica de la Policía Nacional, asistieron el ministro de Defensa Nacional, Luis Carlos Villegas Echeverri; el fiscal general de la Nación, Néstor Humberto Martínez Neira; y el Director de la Policía Nacional, general Jorge Hernando Nieto Rojas.

        </p>
        <div class="banner-btn"> <%= link_to "app/assets/images/apple-store-btn.png" %> 
        <%= link_to "app/assets/images/google-store-btn.png" %></div>
      </div>
    </div>
  </div>
</section>


