
<form>
  <h1>CONTACTENOS</h1>
  <div class="form-row">
    <div class="col-md-4 mb-3">
      <label>Nombres:</label>
      <input type="text" class="form-control bigbig" placeholder="Nombres" required>
    </div>
    <div class="col-md-4 mb-3">
      <label>Apellidos:</label>
      <input type="text" class="form-control bigbig" placeholder="Apellidos" required>
    </div>
    <div class="col-md-4 mb-3">
      <label>Ciudad:</label>
        <input type="text" class="form-control bigbig" placeholder="Ciudad" required>
    </div>
  </div>
  <div class="form-row">
    <div class="col-md-6 mb-3">
      <label>Correo Electronico:</label>
      <input type="text" class="form-control bigbig" placeholder="Correo Electronico" required>
    </div>
    <div class="col-md-3 mb-3">
      <label>Localidad:</label>
      <input type="text" class="form-control bigbig" placeholder="Localidad" required>
    </div>
    <div class="col-md-3 mb-3">
      <label>Celular:</label>
      <input type="text" class="form-control bigbig" placeholder="Celular" required>
    </div>
    <div class="col-md-12 mb-3">
      <label>Mensaje:</label>
      <textarea type="textarea" class="form-control" placeholder="Deja aqui tu Mensaje" rows="10" required></textarea>
    </div>
  </div>
  <button class="btn btn-dark butu" type="submit" > Dejar tu mensaje </button>
</form>
<br>
