<div class ="fondo">
  <div class="seccion1"></div>
  <div class="seccion2">
       <div class="texto_inicio">
        <h1>VISION</h1>
        
      <p>A diferencia del mecanismo habitual de denuncia, que obliga a las personas a trasladarse a las Unidades de Reacción Inmediata (URI) de la Fiscalía o estaciones de Policía, ahora es posible efectuar el mismo trámite en cuestión de segundos.

      El denunciante solo necesita un smartophone con acceso a internet. Desde el computador o teléfono móvil debe ingresar a la aplicacion DenunciApp.

      toma la fotografia de la denuncia y posteriormente, el sistema identificara su posicion geografica, si desea puede colocar denuncias anónimas. La herramienta garantiza la protección de los datos de los usuarios, como lo contempla la Ley 1581 de 2012. <p>
     </div>
  </div>
</div>












