<section class="banner" role="banner">
  <div id="banner" class="container">
    <div class="col-md-5 col-sm-12"> <img class="banner-img img-responsive" <%= link_to "app/assets/images/app-screen.png" %> </div>
    <div class="col-md-7 col-sm-12">
      <div class="banner-text">
        <h1>VISION</h1>
        
        <p>

			A diferencia del mecanismo habitual de denuncia, que obliga a las personas a trasladarse a las Unidades de Reacción Inmediata (URI) de la Fiscalía o estaciones de Policía, ahora es posible efectuar el mismo trámite en cuestión de segundos.

			El denunciante solo necesita acceso a smartophone con acceso a internet. Desde el computador o teléfono móvil debe ingresar a la aplicacion DenunciApp.

			toma la fotografia de la denuncia y posteriormente, el sistema identificara su posicion geografica, si desea puede colocar denuncias anónimas. La herramienta garantiza la protección de los datos de los usuarios, como lo contempla la Ley 1581 de 2012.

			El siguiente paso es la descripción detallada (si lo desea) del hecho que va a reportar la víctima o cualquier persona que vea el hecho, asi como otros elementos para poner en conocimiento a la policia

			En un plazo máximo de 24 horas, el funcionario de policía ja quien el sistema le enviara la denuncia (policia del cuadranye) quien recibe la solicitud, validará la identidad del denunciante o si es anonima, verificará que la petición cumpla con los requisitos de una denuncia y enviará al cuerpo de policia mas cercano a atender la peticion.

        </p>
        <div class="banner-btn"> <%= link_to "app/assets/images/apple-store-btn.png" %> 
        <%= link_to "app/assets/images/google-store-btn.png" %></div>
      </div>
    </div>
  </div>
</section>











